body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: slateblue;
    background-color:lightcoral;
    overflow: hidden;
  }
  
  h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .mainTitle {
    font-size: 5em;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .countdown {
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .countdown div {
    margin: 0 15px;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: -25px;
    position: relative;
    text-align: center;
    width: 100px;
  }
  
  .countdown div::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 0.35em;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    width: 100%;
    height: 35px;
  }
  
  .countdown #weekPodz::before {
    content: "Týdnů";
  }
  .countdown #dayPodz::before {
    content: "Dnů";
  }
  .countdown #hourPodz::before {
    content: "Hodin";
  }
  .countdown #minutePodz::before {
    content: "Minut";
  }
  .countdown #secondPodz::before {
    content: "Sekund";
  }
  .countdown #milisecondPodz::before {
    content: "Milisekund";
  }
  
  
  .countdown #weekVan::before {
    content: "Týdnů";
  }
  .countdown #dayVan::before {
    content: "Dnů";
  }
  .countdown #hourVan::before {
    content: "Hodin";
  }
  .countdown #minuteVan::before {
    content: "Minut";
  }
  .countdown #secondVan::before {
    content: "Sekund";
  }
  .countdown #milisecondVan::before {
    content: "Milisekund";
  }


  .countdown #weekPol::before {
    content: "Týdnů";
  }
  .countdown #dayPol::before {
    content: "Dnů";
  }
  .countdown #hourPol::before {
    content: "Hodin";
  }
  .countdown #minutePol::before {
    content: "Minut";
  }
  .countdown #secondPol::before {
    content: "Sekund";
  }
  .countdown #milisecondPol::before {
    content: "Milisekund";
  }
  
  
  @media screen and (max-width: 1002px)
  {
    h2 {
    letter-spacing: 2px;
  }
  
    .mainTitle {
    font-size: 1.5em;
  }
  
    .countdown {
    margin: 10px 30px 20px 25px;
    width: 90%;
    height: 7.5%;
  }
  
  .countdown div {
    margin: 0 10px;
    font-size: 1em;
    font-weight: 400;
    margin-top: -25px;
  }
  }

  .about {
    color: white;
    text-align: center;
  }

  footer {
    color: white;
    text-align: center;
    margin-bottom: 3px;

  }
